.conteudo-login {
  padding: 0 105px;
}

.conteudo-login h2 {
  margin-bottom: 28px;
}

.conteudo-login--form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.conteudo-login--form input {
  width: 330px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #249479;
  outline: none;
  transition: 0.3s;
}
.conteudo-login--form input:hover {
  box-shadow: 0px 0px 5px 0px #1e816a;
}

.conteudo-login--form input::placeholder {
  color: #c5c5c5;
}

.form-btn {
  background-color: #249479;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.2s;
}

.form-btn:hover {
  background-color: #17755f;
}

@media (max-width: 900px) {
  .conteudo-login {
    padding: 0 50px;
  }
}

@media (max-width: 800px) {
  .conteudo-img {
    display: none;
  }
  .conteudo-login {
    text-align: center;
  }
}
